@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import project theme */
@import './styles/theme.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-base);
  color: var(--text-primary);
}
